.Login_page {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bcg_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url('../../../images/bcg-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}