h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: clamp(0, 100%, 1365px);
  height: 100vh;
  margin: 0 auto;
}

.bcg_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 0;
  margin: 0;
}

.Page_registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  height: 100vh;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
}

.col_1,
.col_2 {
  padding: 0 2rem;
}

.col_1 {
  background-color: var(--primary-color);
}

.col_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  background-image: url('../../../images/bcg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col_2 .content {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 2rem;
}

.col_2 .content p {
  width: 50%;
}

.col_2 .content p span {
  display: block;
  margin-bottom: .35rem;
  line-height: 1.5rem;
  letter-spacing: -.05rem;
}

.col_2 .content h1 {
  width: 65%;
}

.col_2 .content h1:after {
  content: '!';
  font-size: 3.6rem;
  color: var(--secondary-color);
}

.col_2 .content h1 span:first-child {
  font-size: 3.6rem;
  color: var(--secondary-color);
}

.col_2 .content h1 span:last-child {
  font-size: 3.6rem;
  color: var(--secondary-color-light);
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 5rem;
}

.logo_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0 .25rem;
}

.logo_title_part_one {
  color: var(--secondary-color);
}

.logo_title_part_two {
  color: var(--secondary-color-light);
}

@media (max-width: 980px) {
  .col_2 .content h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
  }

  .col_2 .content h1:after {
    font-size: 3rem;
  }

  .col_2 .content h1 span:first-child {
    font-size: 3rem;
  }

  .col_2 .content h1 span:last-child {
    font-size: 3rem;
  }

  .col_2 .content p {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr 0;
  }

  .col_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col_2 {
    display: none;
  }
}