.Registration_page {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 100vh;
}

.col_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-color: var(--primary-color);
}

.col_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  background-image: url('../../../images/bcg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col_2 .content {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 2rem 0 0 2rem;
}

.col_2 .content p {
  width: 50%;
}

.col_2 .content p span {
  display: block;
  margin-bottom: .35rem;
  line-height: 1.5rem;
  letter-spacing: -.05rem;
}

.col_2 .content h1 {
  width: 65%;
}

.col_2 .content h1:after {
  content: '!';
  font-size: 3.6rem;
  color: var(--secondary-color);
}

.col_2 .content h1 span:first-child {
  font-size: 3.6rem;
  color: var(--secondary-color);
}

.col_2 .content h1 span:last-child {
  font-size: 3.6rem;
  color: var(--secondary-color-light);
}

.col_1 .logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.logo img {
  width: 4rem;
}

.logo_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0 .25rem;
}

.logo_title_part_one {
  color: var(--secondary-color);
}

.logo_title_part_two {
  color: var(--secondary-color-light);
}

@media (max-width: 980px) {
  .col_2 .content h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
  }

  .col_2 .content h1:after {
    font-size: 3rem;
  }

  .col_2 .content h1 span:first-child {
    font-size: 3rem;
  }

  .col_2 .content h1 span:last-child {
    font-size: 3rem;
  }

  .col_2 .content p {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .Registration_page {
    display: grid;
    grid-template-columns: 1fr;
  }

  .col_2 {
    display: none;
  }
}