@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;400;500&display=swap');

:root {
    --primary-color: #04121e;
    --secondary-color: #756532;
    --secondary-color-light: #f4d160;
    --error-color: #f36d25;
    --font-size-base: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  color: var(--primary-color);
  font-size: var(--font-size-base);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Styling the main scroll bar */
::-webkit-scrollbar {
  width: 15px;
}

/* Styling the "bar" of the scroll bar (movable part) */
::-webkit-scrollbar-thumb {
  background-color: #b3c0cb;
}

/* Styling the scroll bar track (background part) */
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.preload_container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, .95);
  z-index: 1000;
}

.hide {
  display: none;
}